<hr class="layout--divider">
<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="text--header-2 text--black">Capitalism is the problem.</h1>
        <div class="layout--spacer-20"></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/long-bill.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/long-bill.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">Unaffordable health care</p>
        <p class="layout--padding-20">More than 30 million American are uninsured. Life-saving drugs like insulin are made inaccessible through skyrocketing prices - lining the pockets of pharma execs and the politicians who protect them.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/building.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/building.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">Housing insecurity</p>
        <p class="layout--padding-20">Over 18 million families spend more than half of their income on housing. Hundreds of thousands sleep on the streets every night. Our government doesn't consider housing a human right.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/factory.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/factory.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">A planet on fire</p>
        <p class="layout--padding-20">Fossil fuel executives are running the show. By paying off politicians to look the other way, corporations get away with murder, making it hard for young people to even imagine a future on Earth.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/division.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/division.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">Racism and white supremacy</p>
        <p class="layout--padding-20">We know our economic system is rooted in white supremacy, and the capitalist class depends on racism to divide and oppress the working class.</p>
    </div>
</div>
<hr class="layout--divider">
<div class="pure-g">
    <div class="pure-u-1">
        <h1 class="text--header-2 text--red">A socialist movement is the solution.</h1>
        <p>A better world is possible. On the national level, DSA is fighting for:</p>
        <div class="layout--spacer-20"></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/saw.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/saw.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">A strong labor movement</p>
        <p class="layout--padding-20">Workers who organize, mobilize, and strike together win together. We help build worker power.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/helping-hand.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/helping-hand.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">Medicare for all</p>
        <p class="layout--padding-20">Single-payer health care, free at point of service - because health care is a human right.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/tree.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/tree.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">A Green New Deal</p>
        <p class="layout--padding-20">We can take down the fossil fuel industry and save the planet with new, green jobs. It's a win-win.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text--centered">
        {% if args.env == "dev" or devenv.enabled %}
            <img src="/static/img/stars.png" class="pure-img image--icon image--centered">
        {% else %}
            <img src="https://s3.amazonaws.com/actionkit-dsausa/images/stars.png" class="pure-img image--icon image--centered">
        {% endif %}
        <p class="text--bold">Socialists in office</p>
        <p class="layout--padding-20">You've heard of Bernie and AOC - but did you know there are dozens of DSA members running for office right now?</p>
    </div>
</div>
<hr class="layout--divider">
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 layout--padding-20">
        <h1 class="text--header text--black">There's a million ways to be in DSA.</h1>
        <p>DSA makes room for a variety of strategic approaches to fighting capitalism. Whether you're repairing your neighbors' brake lights, organizing a rent strike in your building, or fighting for public control of electric power, one thing is clear: We're stronger together.</p>
        <div class="layout--spacer-20"></div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 layout--block-red">
        <p>&quot;<strong>I not only organize with them because they are effective, but because they have helped me become a better organizer.</strong> I've fought for certain changes at my workplace and won because of what I've learned from them. Their membership is some of the smartest, most dedicated, and kind people I've ever met in my entire life, and they've taught me so much. Before joining, I didn't have the language to express my politics, and I didn't have a theory of change or theory of power. It was very alienating and frustrating. After years of knowing other DSA members, and organizing with them, I'm able to not only understand the world better, but envision the world that I'd like to help build. They've made me a more capable instrument in fighting capitalism, and that's why I'm here.&quot;</p>
        <p><em><strong>- John, DSA member, Water Plant Operator, New Orleans DSA</strong></em></p>
    </div>
</div>
