{% if args.recurring_id %}
    {% set_matching_var current_id for id in active as args.recurring_id %}

    {% comment %}
      If the recurring_id is set, then we want to render a custom template for only that recurring profile
    {% endcomment %}

    {% for profile in active %}

        {% comment %} Exit early if we've already found the profile {% endcomment %}

        {% comment %}
            profile.id|json to convert a number id to string (json because |str wasnt present?)
        {% endcomment %}

        {% if profile.id|json == args.recurring_id %}

            {% include 'custom_load_recurring_profile_context.html' %}

            {% if profile_type == 'memberships' %}

                {% comment %} Render a custom membership update template {% endcomment %}
                {% include 'custom_recurring_update_membership.html' %}

            {% else %}
                {% comment %} Render a generic single-donation update template {% endcomment %}
                {% include 'custom_recurring_update_donation.html' %}

            {% endif %}

        {% endif %}

    {% endfor %}

    {% comment %}
      Ignore `inactive` profile list for now, but we could probably do the same as above
    {% endcomment %}

    {% if not current_id %}
        {% comment %}
          Fall back to the default recurring update template (all profiles on one page)
          TODO: This should probably just be a 404 type page?
        {% endcomment %}

        <h1>Not Found :(</h1>
    {% endif %}

{% else %}
    {% comment %}
      Fall back to the default recurring update template
    {% endcomment %}

    <h1>Not Found :(</h1>
{% endif %}


{% if args.debug == "yes" %}

    <details>
        <summary>Debug</summary>
    <pre style="background:#f3f6f7;border-radius:1rem">
page
{{ page|pprint }}

args
{{ args|pprint }}

actionkit_user
{{ actionkit_user|pprint }}

logged_in_user
{{ logged_in_user|pprint }}

active
{{ active|pprint }}

inactive
{{ inactive|pprint }}
    </pre>
    </details>
{% endif %}
